h1 {
  text-align:center;
  padding: 50px;
  color: skyblue;
  font-size: 50px;
}
body {
  background-image: url("citylights.jpg");
  background-size: cover;
  background-position: center;
}
.button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 40%;
}
